body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav {
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    color: #999;
    padding: 0.875rem 1rem;
    position: relative; 
    top: 0.4375rem;
    text-decoration: none;
    font-size: 1.0625rem;
  }
  
  .nav a:hover {
    color: #191919;
  }
  
  .nav a.active {
    color: #191919;
    font-weight: bold;
  }

 /* .head h1 {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 1.25rem;
    font-size: 1.625rem;
  } */
  
  .head p {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 1.25rem;
    position: relative;
    top: -1.5625rem;
    font-size: 0.875rem;
    color: #999;
  }

.container {
  position: relative;
  left: 1rem;
  width: 22.1875rem;
  position: relative;
  top: 0.9375rem;
}

  input[type=text], select, textarea {
  width: 100%;
  padding: 0.75rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.375rem;
  margin-bottom: 1rem;
  resize: vertical;

}

input[type=submit] { /* the submit button - inactive */
  background-color: #333;
  color: white;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;  
}

input[type=submit]:hover { /* the submit button - active [by way of hover] */
  background-color: #45a049;
}