body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav {
    overflow: hidden;
  }
  
  .nav a {
    float: left;
    color: #999;
    padding: 0.875rem 1rem;
    position: relative; 
    top: 0.4375rem;
    text-decoration: none;
    font-size: 1.0625rem;
  }
  
  .nav a:hover {
    color: #191919;
  }
  
  .nav a.active {
    color: #191919;
    font-weight: bold;
  }
  
  .head h1 {
    text-align: center;
    margin: auto;
    padding: 1.25rem;
    font-size: 1.625rem;
  }
  
  .head p {
    text-align: center;
    margin: auto;
    padding: 1.25rem;
    position: relative;
    top: -1.5625rem;
    font-size: 0.875rem;
    color: #999;
  }
  
  .box-wrapper {
    text-align: center;
    position: relative;
    top: -1.5625rem;
  }